<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
        >
    <testsuites>
        <testsuite name="Ilib Debtor PDF Testing Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="TEST_PATH_TEMP" value="./temp"/>
        <ini name="memory_limit" value="2048M"/>
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
